:root {
  --red: rgb(234, 0, 47);
  --steelyBlue: rgb(91, 140, 168);
  --turquoise: rgb(124, 216, 219);
  --lighterTeal: rgb(0, 173, 153);
  --teal: rgb(0, 92, 90);
  --white: rgb(254, 254, 255);


  --yellow: rgb(252, 251, 92);
  --darkblue: rgb(0, 152,	210);
  --lightblue: rgb(0, 160,	220);
  --grey: rgb(108, 110,	112);
  --black: rgb(45, 48, 51);


  --orange: rgb(249, 94, 73);
  --altRed: rgb(200, 2, 9);
  --altDarkBlue: rgb(71, 42, 138);
  --altLightBlue: rgb(183, 209, 255);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  padding: 30px;
}

@supports (display: grid) {
  @media (min-width: 100px) {

    header {
      height: 100vh;
      width: auto;
    }

    .name {
      display: grid;
      width: 100%;
      height: 70%;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(4, 25%);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      padding-right: 25px;
      /* font-family: 'Righteous', cursive; */
      /* font-family: 'Fredoka One', cursive; */
      /* font-family: 'Monoton', cursive; */
      /* font-family: 'Fascinate', cursive; */
      font-family: 'Audiowide', cursive;
    }

    .name__letter {
      width: 100%;
      height: 100%;
      text-align: center;
      box-shadow: 3px 5px 10px var(--black);
      color: var(--altDarkBlue);
      opacity: 0;
    }

    .name__letter--subTitle {
      opacity: 0;
    }

    .name__letter--subTitle > p {
      color: var(--orange);
      margin: 0 auto;
      width: 65%;
      font-size: 10vw;
    }

    .name__letter span {
      font-size: 15vh;
    }
    .name__letter--subTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    nav {
      height: 8%;
      width: 100%;
      font-family: 'Ubuntu', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-bottom: 2px solid var(--black);
      margin-bottom: 2rem;
    }

    nav ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    nav ul li {
      font-size: 4vw;
      text-align: center;
      color: var(--orange);
    }
    nav ul li p {
      margin: 0;
    }

    nav ul li a {
      text-decoration: none;
    }
    nav ul li a:visited {
      color: var(--orange);
    }

    main {
      margin-top: 20rem;
      background: url('../img/bg/bike-3.jpeg');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    section.portfolio, section.about {
      padding-top: 5rem;
    }

    .portfolio__header, .about__header   {
      height: 15vw;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      font-size: 6vw;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      color: var(--altDarkBlue);
      box-shadow: 3px 5px 10px var(--black);
      border: 0.5px solid var(--black);
      letter-spacing: 0.3rem;
      background: var(--white);

    }

    .portfolio__sectionHeader {
      text-align: center;
      font-size: 4vw;
      font-family: 'Ubuntu', sans-serif;
      color: var(--altDarkBlue);
      text-decoration: underline;
      background: var(--white);
    }

    section.porfolio__professional {
      height: auto;
      width: 100%;
      /* background: radial-gradient(var(--altLightBlue), var(--white)); */

    }
    section.porfolio__personal {
      height: auto;
      width: 100%;
      /* background: radial-gradient(var(--altDarkBlue), var(--white)); */
    }

    .projectArea {
      /* font-family: 'PT Mono', monospace; */
      font-family: 'Ubuntu', sans-serif;
      /* height: 200vh; */
      height: auto;
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }

    .projectArea__projectContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 5rem auto auto;
      grid-row-gap: 30px;
      height: auto;
      width: 100%;
      padding: 30px;
      border: 0.5px solid var(--black);
      margin-bottom: 10rem;
      box-shadow: 3px 5px 10px var(--black);
      color: var(--black);
      background: var(--white);
    }

    .projectArea__projectName {
      font-size: 6vw;
      text-align: center;
      width: 100%;
      border-bottom: 1px solid var(--black);
      color: var(--altDarkBlue);
      /* background: var(--orange); */

      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

    }

    .projectArea__projectScreenshot {
      display: grid;
      grid-template-rows: 1fr 60% 1fr;
      grid-template-columns: 1fr 70% 1fr;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 100%;
    }

    .projectArea__screenshotNavigation {
      display: grid;
      grid-template-rows: 1fr 50px 1fr;
      grid-template-columns: 1fr 75% 1fr;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      height: 100%;
      width: 100%;
      z-index: 0;
    }

    .projectArea__screenshotScroller--left {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      background: rgba(255, 255, 255, 0.5);
      z-index: 5;
      padding-left: 0 !important;
    }
    .projectArea__screenshotScroller--right {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      background: rgba(255, 255, 255, 0.5);
      z-index: 5;
      padding-left: 0 !important;
    }

    .projectArea__scrollerChevron {
      width: 3rem;
    }

    .projectArea__img {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      height: auto;
      width: 100%;
    }

    .projectArea__img img {
      max-width: 100%;
      height: auto;
    }
    .projectArea__img a {
      /* position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 99; */
    }

    .projectArea__projectDescription {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10% 1fr;
      grid-row-gap: 30px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      height: 100%;
    }
    .projectArea__descriptionSelector {
      font-size: 4vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      margin: 0;
      padding: 0;
    }
    .projectArea__descriptionSelector button {
      margin: 0 5px;
      border: 1px solid rgba(0, 0, 0, .6);
      border-radius: 4px;
      background: transparent;
      color: rgba(0, 0, 0, .6);
      transition: all 0.3s cubic-bezier(.02, .01, .47, 1);
    }

    .projectArea__descriptionSelector > li {
      list-style: none;
      text-align: center;
      border: 1px solid var(--black);
    }
    .projectArea__descriptionSelector > li h3 {
      margin: 0;
    }

    .projectArea__descriptionText {
      font-size: 4vw;
      height: 100%;
      border-radius: 5px;
      padding: 30px;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 1;
      overflow: scroll;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .projectArea__descriptionText--desc {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      background: white;
    }
    .projectArea__descriptionText--tech {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      background: white;
    }
    .projectArea__descriptionText--tech ul {
      margin-top: 0;
    }
    .projectArea__descriptionText--etc {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      background: white;
    }
    .onBottom {
      z-index: 0;
      opacity: 0;
    }

    .onTop {
      z-index: 1;
      opacity: 1;
      -webkit-animation: 0.3s linear fadein-slideup;
      animation: 0.3s linear fadein-slideup;
      transform: translate3d(0, 0, 0);
    }

    section.about {
      width: 100%;
      /* background: radial-gradient(var(--orange), var(--white)); */
    }

    .about__textBox {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 40% 50%;
      grid-row-gap: 30px;
      height: 80vh;
      width: 100%;
      padding: 30px;
      border: 0.5px solid var(--black);
      margin-top: 5rem;
      margin-bottom: 10rem;
      box-shadow: 3px 5px 10px var(--black);
      color: var(--black);
      text-align: justify;
      background: var(--white);
    }

    .about__headshot {
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
    }
    .about__content h3 {
      font-size: 5vw;
      text-align: center;
    }
    .about__content p {
      font-size: 3.5vw;
    }



  }

  @media (min-width: 768px) {
    .name {
      grid-template-columns: repeat(4, 24%);
      grid-template-rows: repeat(4, 25%);
    }
    .name__letter--subTitle > p {
      font-size: 6vw;
    }
    main {
      background: url('../img/bg/mountain-2.jpeg');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .portfolio__header, .about__header   {
      width: 75%;
      font-size: 3.5vw;
    }
    .portfolio__sectionHeader {
      width: 75%;
      margin: 0 auto;
      font-size: 3vw;
    }
    .projectArea__projectName {
      font-size: 3.5vw;
    }
    .projectArea__descriptionSelector {
      font-size: 3vw;
    }
    .projectArea__descriptionText {
      font-size: 2.5vw;
      padding: 15px;
    }
    .about__content h3 {
      font-size: 4vw;
    }
    .about__content p {
      font-size: 2.75vw;
    }


  }

  @media (min-width: 992px) {
    .name__letter--subTitle > p {
      font-size: 5vw;
    }
    .projectArea__projectName {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .projectArea__projectContainer {
      grid-template-columns: 60% 1fr;
      grid-template-rows: 8vw 1fr;
      grid-column-gap: 30px;
      height: auto;

    }
    .projectArea__projectScreenshot {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .projectArea__projectDescription {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .projectArea__descriptionSelector {
      font-size: 2.5vw;
    }
    .projectArea__descriptionText {
      font-size: 2vw;
      border: 0px;
    }
    .about__textBox {
      width: 75%;
      margin: 5rem auto;
    }
    .about__content h3 {
      font-size: 3.5vw;
    }
    .about__content p, li {
      font-size: 2vw;
    }

  }

  @media (min-width: 1200px) {
    main {
      background: url('../img/bg/ny-2.jpg');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .projectArea {
      width: 75%;
      margin: 0 auto;
    }

    .projectArea__projectName {
      font-size: 3vw;
    }
    .projectArea__descriptionSelector {
      font-size: 2vw;
    }
    .projectArea__descriptionText {
      font-size: 1.5vw;
    }
    .about__content h3 {
      font-size: 3vw;
    }
    .about__content p {
      font-size: 1.75vw;
    }
  }

}

.hidden {
  opacity: 0;
}

.display {
  opacity: 1;
}

.fadeIn {
  opacity: 1;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein-slideup {
    from {
      opacity: 0.1;
      -webkit-transform: translate(0%, 3%);
      /* transform: translateX(-200%);
      margin-left: -10px;
      margin-bottom: -10px; */
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
      /* margin-left: 0;
      margin-bottom: 0; */
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein-slideup {
  from {
    opacity: 0;
    margin-left: -10px;
    margin-bottom: -10px;
  }
  to {
    opacity: 1;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.projectArea__img--lightbox {
  display:
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
