* {
  box-sizing: border-box;
}

@supports (display: grid) {
  @media (min-width: 576px) {

    header {
      height: 100vh;
      width: auto;
    }
    .name {
      display: grid;
      width: 100vw;
      height: 92vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      /* font-family: 'Righteous', cursive; */
      /* font-family: 'Fredoka One', cursive; */
      /* font-family: 'Monoton', cursive; */
      /* font-family: 'Fascinate', cursive; */
      font-family: 'Audiowide', cursive;
    }

    .name__letter:nth-child(even) {
      border-width: 1px 0px 1px 0px;
      border-color: black;
      border-style: solid;
    }
    .name__letter:nth-child(odd) {
      border-width: 1px 1px 1px 0px;
      border-color: black;
      border-style: solid;
    }

    .name__letter {
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .name__letter--subTitle {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .name__letter span {
      font-size: 17rem;
    }
    .name__letter--subTitle p {
      font-size: 7rem;
      margin: 0 auto;
    }

    nav {
      height: 8vh;
      width: 100%;
    }

    nav ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    nav ul li {
      font-size: 4rem;
      text-align: center;
    }

    section.portfolio {
      height: 200vh;
      width: 100vw;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }

    .portfolio__header {
      height: 10vh;
      width: 100%;
      font-size: 4rem;
      text-align: center;
    }

    section.porfolio__professional {
      height: 90vh;
      width: 100vw;
    }
    section.porfolio__personal {
      height: 100vh;
      width: 100vw;
    }

    .projectArea {
      /* font-family: 'PT Mono', monospace; */
      font-family: 'Ubuntu', sans-serif;
      padding: 30px;
      height: 200vh;
      width: 100%;
    }

    .projectArea__projectContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 20% 40% 40%;
      grid-row-gap: 30px;
      height: 50%;
      width: 100%;
      border: 2px solid black;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
      padding: 10px 30px;
    }

    .projectArea__projectName {
      font-size: 7rem;
      text-align: center;
      border-bottom: 1px solid black;
    }

    .projectArea__projectScreenshot {
      margin: 0 5%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      height: 500px;
    }
    .projectArea__screenshotNavigation {
      display: grid;
      grid-template-columns: 20px 50px 1fr 50px 20px;
      grid-template-rows: 40% 20% 40%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      height: 100%;
      width: 100%;
      z-index: 2;
    }

    .projectArea__screenshotScroller--left {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      background: black;
    }
    .projectArea__screenshotScroller--right {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
      background: black;
    }

    .projectArea__img {
      max-width: 100%;
      height: auto;
      z-index: 1;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    section.about {
      height: 100vh;
      width: 100vw;
    }

  }

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {

  }

  @media (min-width: 1200px) {

  }

}
